<%= erb :header %>

<div class="container">
  <select class="pull-right" name="status" style="margin-top: 15px;"
      onchange="loadParts(<%= @project.id %>, this.value);">
    <option selected>Filter by status...</option>
    <% Part::STATUS_MAP.each_pair do |key, value| %>
    <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>
  <h2><%= @project.name %></h2>
  <div id="dashboard-parts">
    <%= erb :dashboard_parts %>
  </div>
</div>

<%= erb :footer %>
