<%= erb :header %>

<div class="container">
  <select class="pull-right" name="status" style="margin-top: 15px;"
      onchange="changeDashboardFilter(<%= @project.id %>, this.value);">
    <option value="all" selected>Filter by status...</option>
    <option value="progress" selected>Parts in progress</option>
    <option value="all" selected>All parts</option>
    <% Part::STATUS_MAP.each_pair do |key, value| %>
    <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>
  <h2><%= @project.name %></h2>
  <div id="dashboard-parts">
    <%= erb :dashboard_parts %>
  </div>
</div>
<script type="text/javascript">
  changeDashboardFilter(<%= @project.id %>, "all");
  setInterval(function() { loadParts(); }, 10000);
</script>

<%= erb :footer %>
