<%= erb :header %>

<div class="container">
  <h2>Create New <%= @type.capitalize %></h2>
  <form action="/parts" method="POST">
    <input type=hidden name=type value="<%= @type %>" />
    <label>Project</label>
    <input type="text" disabled value="<%= @project.name %>" />
    <input type="hidden" name="project_id" value="<%= @project.id %>" />
    <label><%= @type.capitalize %> Name</label>
    <input type="text" name="name" />
    <label>Parent Assembly</label>
    <select name="parent_part_id">
      <% @project.parts.select { |p| p.type == "assembly"}.each do |part| %>
      <option value="<%= part.id %>"<% if part.id == @parent_part_id.to_i %> selected<% end %>>
        <%= part.full_part_number %> - <%= part.name %>
      </option>
      <% end %>
    </select>
    <label>
      <input type="submit" class="btn btn-success btn-medium" value="Create <%= @type.capitalize %>">
    </label>
  </form>
</div>

<%= erb :footer %>
