<%= erb :header %>

<div class="container">
  <% if @user.can_edit? %>
    <% if @show_new_item_form %>
      <h2>New item</h2>
      <%= erb :new_order_item %>
    <% else %>
      <div class="pull-right" style="margin-top: 15px;">
        <a href="?new_item=true" class="btn btn-success btn-small">
          <i class="icon-white icon-user"></i> New Item
        </a>
      </div>
    <% end %>
  <% end %>
  <% unless @no_vendor_order_items.empty? %>
    <h2>Unclassified items</h2>
    <%= erb :order_items_list, :locals => { :order_items => @no_vendor_order_items, :order => nil } %>
  <% end %>
  <% @vendor_orders.each do |order| %>
    <a href="/projects/<%= @project.id %>/orders/<%= order.id %>" style="color: black;"><h2>
      <%= order.vendor_name %>
      <%= order.ordered_at.strftime("%F") rescue "" %>
      <span class="label label-status-<%= order.status %>"><%= Order::STATUS_MAP[order.status] %></span>
    </h2></a>
    <%= erb :order_items_list, :locals => { :order_items => order.order_items, :order => order } %>
  <% end %>
</div>

<%= erb :footer %>
