<form action="/projects/<%= @project.id %>/order_items/edit" method="POST">
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <th>Vendor</th>
      <th>Quantity</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Unit Cost</th>
      <th>Total Cost</th>
      <th>Notes</th>
      <% if @user.can_edit? %>
        <th>Action</th>
      <% end %>
    </tr>
    <% order_items.each do |item| %>
      <tr id="order-item-<%= item.id %>">
        <td>
          <a href="/projects/<%= @project.id %>/orders/stats" style="color: black;">
            <%= item.order.vendor_name rescue "" %>
          </a>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.part_number %></td>
        <td><%= item.description %></td>
        <td><%= "$%.2f" % item.unit_cost %></td>
        <td><%= "$%.2f" % item.total_cost %></td>
        <td><%= item.notes %></td>
        <% if @user.can_edit? %>
          <td>
            <a class="btn btn-primary btn-small" onclick="editOrderItem(<%= @project.id %>, <%= item.id %>);">
              <i class="icon-white icon-pencil"></i>
            </a>
            <a href="/projects/<%= @project.id %>/order_items/<%= item.id %>/delete"
                class="btn btn-danger btn-small">
              <i class="icon-white icon-trash"></i>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if order %>
      <tr>
        <th colspan="2">Purchaser</th>
        <th>Subtotal</th>
        <th>Tax</th>
        <th>Shipping</th>
        <th colspan="3">Total</th>
      </tr>
      <tr>
        <td colspan="2"><%= order.paid_for_by %></td>
        <td><%= "$%.2f" % order.subtotal %></td>
        <td><%= "$%.2f" % order.tax_cost.to_f %></td>
        <td><%= "$%.2f" % order.shipping_cost.to_f %></td>
        <td colspan="3"><%= "$%.2f" % order.total_cost %></td>
      </tr>
    <% end %>
  </table>
</form>
