<%= erb :header %>

<div class="container">
  <h2>
    <%= @order.vendor_name %>
    <%= @order.ordered_at.strftime("%F") rescue "" %>
  </h2>
  <%= erb :order_items_list, :locals => { :order_items => @order.order_items, :order => nil } %>
  <form action="/projects/<%= @project.id %>/orders/<%= @order.id %>/edit" method="POST">
    <label>Status</label>
    <select name="status" <% unless @user.can_edit? %>disabled <% end %>>
      <% Order::STATUS_MAP.each_pair do |key, value| %>
        <option value="<%= key %>"<% if @order.status == key %> selected<% end %>>
          <%= value %>
        </option>
      <% end %>
    </select>
    <label>Subtotal</label>
    <input type="text" disabled value="<%= "$%.2f" % @order.subtotal %>" />
    <label>Tax</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>name="tax_cost"
        value="<%= "$%.2f" % @order.tax_cost.to_f %>" />
    <label>Shipping</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>name="shipping_cost"
        value="<%= "$%.2f" % @order.shipping_cost.to_f %>" />
    <label>Total</label>
    <input type="text" disabled value="<%= "$%.2f" % @order.total_cost %>" />
    <label>Paid for by</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>name="paid_for_by"
        value="<%= @order.paid_for_by %>" />
    <label>
      Reimbursed?
      <input type="checkbox" <% unless @user.can_edit? %>disabled <% end %>name="reimbursed"
          <% if @order.reimbursed == 1 %>checked<% end %>/>
    </label>
    <label>Date ordered</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>class="datepicker"
        data-date-format="yyyy-mm-dd" name="ordered_at"
        value="<%= @order.ordered_at.strftime("%F") rescue "" %>"/>
    <label>Notes</label>
      <textarea name="notes" <% unless @user.can_edit? %>disabled <% end %>
          rows="3"><%= @order.notes %></textarea>
    <% if @user.can_edit? %>
      <br />
      <input type="submit" class="btn btn-primary btn-medium" value="Save" />
      <a href="/projects/<%= @project.id %>/orders/<%= @order.id %>/delete" class="btn btn-danger btn-medium">
        Delete
      </a>
    <% end %>
  </form>
</div>

<%= erb :footer %>
