<%= erb :header %>

<div class="container">
  <h2>Orders by Vendor</h2>
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <th>Vendor</th>
      <th># of Orders</th>
      <th># of Line Items</th>
      <th>Total Spent</th>
      <th>Total Tax</th>
      <th>Total Shipping</th>
    </tr>
    <% @orders_by_vendor.each_pair do |vendor, orders| %>
      <tr>
        <td>
          <a href="/projects/<%= @project.id %>/orders/all?filter=vendor_name:<%= vendor %>"
              style="color: black;">
            <%= vendor %>
          </a>
        </td>
        <td><%= orders.size %></td>
        <td><%= orders.inject(0) { |sum, order| sum + order.order_items.size } %></td>
        <td><%= "$%.2f" % orders.inject(0) { |sum, order| sum + order.total_cost } %></td>
        <td><%= "$%.2f" % orders.inject(0) { |sum, order| sum + order.tax_cost.to_f } %></td>
        <td><%= "$%.2f" % orders.inject(0) { |sum, order| sum + order.shipping_cost.to_f } %></td>
      </tr>
    <% end %>
    <tr>
      <th>Total</th>
        <th><%= @orders.size %></th>
        <th><%= @orders.inject(0) { |sum, order| sum + order.order_items.size } %></th>
        <th><%= "$%.2f" % @orders.inject(0) { |sum, order| sum + order.total_cost } %></th>
        <th><%= "$%.2f" % @orders.inject(0) { |sum, order| sum + order.tax_cost.to_f } %></th>
        <th><%= "$%.2f" % @orders.inject(0) { |sum, order| sum + order.shipping_cost.to_f } %></th>
    </tr>
  </table>

  <h2>Orders by Purchaser</h2>
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <th>Purchaser</th>
      <th>Amount Reimbursed</th>
      <th>Amount Outstanding</th>
      <th>Total Spent</th>
    </tr>
    <% @orders_by_purchaser.each_pair do |purchaser, stats| %>
      <tr>
        <td>
          <a href="/projects/<%= @project.id %>/orders/all?filter=paid_for_by:<%= purchaser %>"
              style="color: black;">
            <%= purchaser.empty? ? "<i>Unspecified</i>" : purchaser %>
          </a>
        </td>
        <td><%= "$%.2f" % stats[:reimbursed] %></td>
        <td><%= "$%.2f" % stats[:outstanding] %></td>
        <td><%= "$%.2f" % (stats[:reimbursed] + stats[:outstanding]) %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= erb :footer %>
