<%= erb :header %>

<div class="container">
  <div class="row">
    <div class="span2">
      <h2>Orders</h2>
    </div>
  </div>
  <div class="well">
  <% Project.reject { |project| project.hide_dashboards == 1 }.each do |project| %>
    <li><h4>
      <a href="/projects/<%= project.id %>/orders/open"><%= project.name %> &ndash; Open orders</a>
    </h4></li>
    <li><h4>
      <a href="/projects/<%= project.id %>/orders/ordered"><%= project.name %> &ndash; Placed orders</a>
    </h4></li>
    <li><h4>
      <a href="/projects/<%= project.id %>/orders/complete"><%= project.name %> &ndash; Received orders</a>
    </h4></li>
    <li><h4>
      <a href="/projects/<%= project.id %>/orders/stats">
        <%= project.name %> &ndash; Order totals and statistics
      </a>
    </h4></li>
  <% end %>
  </div>
</div>

<%= erb :footer %>
