<%= erb :header %>

<div class="container">
  <% if @part.type == "assembly" %>
  <div class="pull-right" style="margin-top: 15px;">
  <a href="/projects/<%= @part.project_id %>/new_part?type=part&parent_part_id=<%= @part.id %>"
      class="btn btn-success btn-small"><i class="icon-white icon-cog"></i> New Part</a>
  <a href="/projects/<%= @part.project_id %>/new_part?type=assembly&parent_part_id=<%= @part.id %>"
      class="btn btn-success btn-small"><i class="icon-white icon-th"></i> New Assembly</a>
  </div>
  <% end %>
  <h2><%= @part.type.capitalize %>: <%= @part.name %></h2>

  <% if @part.parent_part %>
  <div>
    <%= erb :part_tree, :locals => { :part => @part.parent_part } %>
    <i class="icon-chevron-right"></i> <b><%= @part.name %></b>
  </div>
  <br />
  <% end %>

  <% if @part.type == "assembly" %>
  <entry><b>Parts & assemblies contained within this assembly:</b></entry>

  <%= erb :parts_list, :locals => { :parts => @part.child_parts } %>
  <% end %>
  <table class="table table-striped table-condensed table-bordered" style="width: auto;">
    <tr>
      <td><b>Project</b></td>
      <td><a href="/projects/<%= @part.project_id %>"><%= @part.project.name %></a></td>
    </tr>
    <tr><td><b>Part Number</b></td><td><%= @part.full_part_number %></td></tr>
    <tr>
      <td><b>Status</b></td>
      <td>
        <span class="label label-status-<%= @part.status %>"><%= Part::STATUS_MAP[@part.status] %></span>
      </td>
    </tr>
    <tr><td><b>Notes</b></td><td><%= (@part.notes || "").gsub("\n", "<br />") %></td></tr>
    <tr><td><b>Source material</b></td><td><%= @part.source_material %></td></tr>
    <tr><td><b>Have material?</b></td><td><%= (@part.have_material == 1) ? "Yes" : "No" %></td></tr>
    <tr><td><b>Material cut length</b></td><td><%= @part.cut_length %></td></tr>
    <tr><td><b>Quantity required</b></td><td><%= @part.quantity %></td></tr>
    <tr><td><b>Drawing created?</b></td><td><%= (@part.drawing_created == 1) ? "Yes" : "No" %></td></tr>
    <tr><td><b>Priority</b></td><td><%= Part::PRIORITY_MAP[@part.priority] %></td></tr>
  </table>
  <% if @user.can_edit? %>
  <div class="pull-right" style="margin-top: -40px;">
    <a href="/parts/<%= @part.id %>/edit" class="btn btn-primary btn-small">
      <i class="icon-white icon-pencil"></i> Edit this part
    </a>
    <a href="/parts/<%= @part.id %>/delete" class="btn btn-danger btn-small">
      <i class="icon-white icon-trash"></i> Delete this part
    </a>
  </div>
  <% end %>
</div>

<%= erb :footer %>
