<%= erb :header %>

<div class="container">
  <h2>Edit Part</h2>
  <form action="" method="POST">
    <label><span class="label label-info">Part Number</span> <%= @part.full_part_number %></label>
    <label><b>Part Name<b></label>
    <input type="text" name="name" value="<%= @part.name %>" />
    <label><b>Status</b></label>
      <select name="status">
        <% Part::STATUS_MAP.each_pair do |key, value| %>
        <option value="<%= key %>"<% if @part.status == key %> selected<% end %>>
          <%= value %>
        </option>
        <% end %>
      </select>
    <label><b>Notes</b></label>
     <textarea name="notes" rows="4"><%= @part.notes %></textarea>
    <label><input type="submit" class="btn btn-success btn-medium" value="Save Part" /></label>
  </form>
</div>

<%= erb :footer %>
