<%= erb :header %>

<div class="container">
  <h2>Edit User</h2>
  <form action="" method="POST">
    <label style="font-weight:bold;">E-mail</label>
    <input type="text" name="email" value="<%= @user_edit.email %>"/>
    <label style="font-weight:bold;">Change Password</label>
    <input type="password" name="password" />
    <label style="font-weight:bold;">Verify Password</label>
    <input type="password" name="password2" />
    <label style="font-weight:bold;">Permission</label>
    <select name="permission">
      <% User::PERMISSION_MAP.each_pair do |key, value| %>
      <option value=<%= key %><% if @user_edit.permission == key %> selected<% end %>><%= value %></option>
      <% end %>
    </select>
    <label>
      <input type="submit" class="btn btn-primary btn-medium" value="Save"
          onclick="return verifyPasswordMatch(this.parentElement.parentElement);" />
    </label>
  </form>
</div>

<%= erb :footer %>
