<%= erb :header %>

<div class="container">
  <h2>Edit User</h2>
  <form action="" method="POST">
    <label>E-mail</label>
    <input type="text" name="email" value="<%= @user_edit.email %>"/>
    <label>First Name</label>
    <input type="text" name="first_name" value="<%= @user_edit.first_name %>"/>
    <label>Last Name</label>
    <input type="text" name="last_name" value="<%= @user_edit.last_name %>"/>
    <label>Change Password</label>
    <input type="password" name="password" />
    <label>Verify Password</label>
    <input type="password" name="password2" />
    <label>Permission</label>
    <select name="permission">
      <% User::PERMISSION_MAP.each_pair do |key, value| %>
        <option value=<%= key %><% if @user_edit.permission == key %> selected<% end %>><%= value %></option>
      <% end %>
    </select>
    <label>Enabled?</label>
    <input type="checkbox" name="enabled"<% if @user_edit.enabled == 1 %> checked<% end %> />
    <br /><br />
    <label>
      <input type="submit" class="btn btn-primary btn-medium" value="Save"
          onclick="return verifyPasswordMatch(this.parentElement.parentElement);" />
    </label>
  </form>
</div>

<%= erb :footer %>
